<div class="modal" tabindex="-1" id="geolocation-options-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tracking options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12 mb-2">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="geolocationScreenLock">
                        <label class="form-check-label" for="geolocationScreenLock">
                            Keep screen awake
                        </label>
                        <div id="geolocationScreenLockHelpText" class="form-text">
                            Applies to mobile devices only. Prevents the screen from going to sleep.
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="geolocationDrawTrack">
                        <label class="form-check-label" for="geolocationDrawTrack">
                            Draw track
                        </label>
                        <div id="geolocationDrawTrackHelpText" class="form-text">
                            Draws a line on the map showing the path you have travelled which you can save as a GPX file when finished.
                        </div>
                    </div>

                    <div>
                        <label for="geolocationAccuracyThreshold" class="form-label">Location accuracy threshold</label>
                        <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <select class="form-select form-select-sm" id="geolocationAccuracyThreshold">
                                    <option value="10">High (10m)</option>
                                    <option value="20">Medium (20m)</option>
                                    <option value="50">Low (50m)</option>
                                </select>
                            </div>
                        </div>
                        <div id="geolocationAccuracyThresholdHelpText" class="form-text">
                            Accuracy threshold in metres. If the accuracy of your location is worse than this, we'll keep trying until we have a better signal.
                        </div>
                    </div>
                    <div class="alert small p-2 alert-info mt-2 mb-0"><span class="bi bi-info-circle"></span> Click the geolocation button again to stop tracking</div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Start tracking</button>
            </div>
        </div>
    </div>
</div>