<div class="modal" tabindex="-1" id="geolocation-export-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export track</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Total track length: <span id="geolocation-export-track-length"></span></p>
                <div class="col-12 mb-2">
                    <p>Download a GPX file of your track</p>
                    <button id="geolocation-export-track-btn" class="btn btn-primary btn-lg">Download GPX</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>