<div class="modal" tabindex="-1" id="short-link-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Short link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Here's your short link. </p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="gifw-share-short-link" readonly value="">
                    <button class="btn btn-outline-primary" type="button" data-gifw-copy-target="#gifw-share-short-link" data-bs-toggle="tooltip" data-bs-title="Copied to clipboard!" data-bs-trigger="manual">
                        <i class="bi bi-clipboard"></i> Copy<span class="visually-hidden"> the link to the clipboard</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>