@model List<GIFrameworkMaps.Data.Models.LayerSource>
@{
    ViewData["Title"] = "Create layer";
}

<h1>@ViewData["Title"]</h1>
<p class="lead">Choose a layer source to create a layer from</p>

<div class="alert alert-info">No layer source yet? Use the <a asp-controller="ManagementLayerWizard" asp-action="Index">Layer Wizard</a> instead.</div>


@if (Model != null)
{
    <table id="sources-table" class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>ID</th><th>Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (GIFrameworkMaps.Data.Models.LayerSource layer in Model.OrderBy(a => a.Name))
        {
            <tr>
                <td>@layer.Id</td>
                <td>@Html.ActionLink(layer.Name, "CreateFromSource", new { id = layer.Id })</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">No layer sources have been created yet</div>
}

@section Scripts {
    <script>
        const opts = {
            perPage: 50,
            perPageSelect: [10, 25, 50, 100, ["All", 0]],
            classes:
            {
                input: "form-control",
                top: "datatable-top px-0",
                selector: "form-select",
                paginationList: "pagination",
                paginationListItem: "page-item",
                paginationListItemLink: "page-link",
                active: 'active',
                disabled: 'disabled'
            }
        };
        const dataTable = new simpleDatatables.DataTable("#sources-table", opts);
    </script>
}


