<p class="small">Date formatting is applied by adding <code>| date</code> after the attribute name but before the <code>}}</code>, e.g. <code>{{ATTRIBUTE | date}}</code>. Place your cursor there and choose a format below to apply the format to that attribute.</p>
<p class="small">Further help and details on how to customise your formatting can be found in the <a href="https://dorset-council-uk.github.io/GIFramework-Maps-Admin-Guide/db/layers/#date-formatting" target="_blank">help documentation</a>.</p>
<ul class="list-unstyled">
    <li><a href="#" data-date-format="">Short date (07/02/2023)</a></li>
    <li><a href="#" data-date-format="DDD">Long date (February 7, 2023)</a></li>
    <li><a href="#" data-date-format="D T">Short date and time (07/02/2023 17:10)</a></li>
    <li><a href="#" data-date-format="ccc dd LLLL yyyy T">Long date and time (Tuesday 07 February 2023 17:10)</a></li>
    <li><a href="#" data-date-format="LLLL yyyy">Month and year (February 2023)</a></li>
    <li><a href="#" data-date-format="yyyy">Just the year (2023)</a></li>
    <li><a href="#" data-date-format="DDDD">Day, full month and year (Tuesday, February 7, 2023)</a></li>
</ul>