<div class="card">
    <div class="card-header">
        <a href="#list-template-helper" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="list-template-helper"><i class="bi bi-caret-right"></i> Template helper</a>
    </div>
    <div class="card-body collapse" id="list-template-helper">
        <ul class="nav nav-tabs" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="list-template-attributes-tab" data-bs-toggle="tab" data-bs-target="#list-template-attributes-pane" type="button" role="tab" aria-controls="list-template-attributes-pane" aria-selected="false">Attributes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="list-template-date-formatting-tab" data-bs-toggle="tab" data-bs-target="#list-template-date-formatting-pane" type="button" role="tab" aria-controls="list-template-date-formatting-pane" aria-selected="false">Date formatting</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="list-template-preview-tab" data-bs-toggle="tab" data-bs-target="#list-template-preview-pane" type="button" role="tab" aria-controls="list-template-preview-pane" aria-selected="false">Preview</button>
            </li>
        </ul>

        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="list-template-attributes-pane" role="tabpanel" aria-labelledby="list-template-attributes-tab" tabindex="0">
                <ul class="list-inline">
                </ul>
            </div>
            <div class="tab-pane fade" id="list-template-date-formatting-pane" role="tabpanel" aria-labelledby="list-template-date-formatting-tab" tabindex="0">
                @{
                    await Html.RenderPartialAsync("DateFormattingListPartial");
                }
            </div>
            <div class="tab-pane fade" id="list-template-preview-pane" role="tabpanel" aria-labelledby="list-template-preview-tab" tabindex="0">
                <a href="#" id="list-template-preview-generate">Generate preview</a>
                <div class="template-preview mt-2 border rounded p-2">
                    <div class="gifw-result-list">
                        <ul>
                            <li class="list-unstyled"><a href="#">A feature</a></li>
                            <li class="list-unstyled"><a href="#">A feature</a></li>
                            <li class="list-unstyled"><a href="#" id="list-template-preview-container">Your preview feature will go here</a></li>
                            <li class="list-unstyled"><a href="#">A feature</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>