@model GIFrameworkMaps.Data.Models.WelcomeMessage
@{
    ViewData["Title"] = $"Edit welcome message '{Model.Name}'";
}

<h1>@ViewData["Title"]</h1>
<div class="row mt-2 mb-2">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DismissOnButtonOnly" class="control-label"></label>
                <input asp-for="DismissOnButtonOnly" class="form-control" />
                <div class="form-text">Explanitory text here</div>
                <span asp-validation-for="DismissOnButtonOnly" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DismissText" class="control-label"></label>
                <input asp-for="DismissText" class="form-control" />
                <span asp-validation-for="DismissText" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                <a asp-action="Index" class="btn btn-link">Cancel</a>
            </div>
        </form>
        
    </div>
</div>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>



            


