@using GIFrameworkMaps.Data.ViewModels.Management
@model LayerSourceEditViewModel
@{
    ViewData["Title"] = "Create layer source";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning">This is the manual way of creating layer sources. For a simpler experience, try the @Html.ActionLink("Layer Wizard","Index","ManagementLayerWizard")</div>

<div>
    <a href="https://dorset-council-uk.github.io/GIFramework-Maps-Admin-Guide/gui/layers/#add-a-new-layer-manually" class="btn btn-outline-primary" target="_blank"
       role="button">Stuck? Read the help documentation</a>
</div>

<div class="row mt-2 mb-2">
    <div class="col-md-8 col-lg-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="LayerSource.Name" class="control-label"></label>
                <input asp-for="LayerSource.Name" class="form-control" />
                <span asp-validation-for="LayerSource.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.Description" class="control-label"></label>
                <textarea asp-for="LayerSource.Description" class="form-control"></textarea>
                <span asp-validation-for="LayerSource.Description" class="text-danger"></span>
            </div>



            <div class="mb-3">
                <label asp-for="LayerSource.LayerSourceTypeId" class="control-label"></label>
                <select asp-for="LayerSource.LayerSourceTypeId" asp-items="Model.AvailableLayerSourceTypes" class="form-select"></select>
                <span asp-validation-for="LayerSource.LayerSourceTypeId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.AttributionId" class="control-label"></label>
                <select asp-for="LayerSource.AttributionId" asp-items="Model.AvailableAttributions" class="form-select" data-attribution-select="true">
                    <option value=""></option>
                </select>
                <span asp-validation-for="LayerSource.AttributionId" class="text-danger"></span>
                <div class="alert alert-light small" role="alert" id="attribution-render-target">
                </div>
            </div>

            <div class="alert alert-light">The following options apply only to XYZ layers</div>

            <div class="mb-3">
                <label asp-for="LayerSource.MinZoom" class="control-label"></label>
                <input asp-for="LayerSource.MinZoom" class="form-control" />
                <span asp-validation-for="LayerSource.MinZoom" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.MaxZoom" class="control-label"></label>
                <input asp-for="LayerSource.MaxZoom" class="form-control" />
                <span asp-validation-for="LayerSource.MaxZoom" class="text-danger"></span>
            </div>

            <div class="mb-3 form-check">
                <input id="AddOption" name="AddOption" value="true" checked class="form-check-input" type="checkbox" />
                <label for="AddOption" class="form-check-label">Create layer source option on save</label>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                <a asp-action="Index" class="btn btn-link">Cancel</a>
            </div>
        </form>

    </div>
    <div class="col-md-4 col-lg-6">
        <h2>Layer Source Options</h2>
        <div class="alert alert-info">Options can be added after saving the basic details</div>
    </div>
</div>

<script>
    var attributionRendererEndpoint = '@Url.Action("RenderAttributionString","Management")';
</script>
@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const ev = new Event("CreateSourceInit")
            document.dispatchEvent(ev);
        });
    </script>
}
