@model GIFrameworkMaps.Data.Models.ViewModels.Management.UserEditModel
@{
    ViewData["Title"] = $"Manage user '{Model.User.DisplayName}'";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Index">Cancel</a>

<div>
    <a href="https://dorset-council-uk.github.io/GIFramework-Maps-Admin-Guide/gui/users/" class="btn btn-outline-primary" target="_blank"
       role="button">Stuck? Read the help documentation</a>
</div>

<form asp-action="Edit">
    <div class="row mt-4 mb-2">
        <div class="col-md-6">
            <p>User details are managed through the external identity provider</p>
            <table class="table table-striped">
                <tr><th>User ID</th><td>@Model.User.Id</td></tr>
                <tr><th>Display Name</th><td>@Model.User.DisplayName </td></tr>
                <tr>
                    <th>Email(s)</th>
                    <td>
                        @foreach (var mail in Model.User.OtherMails)
                        {
                            @mail

                            <br />
                        }
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <div class="col-md-6">
            <div class="card mb-2">
                <div class="card-header">
                    Assigned Roles
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">Roles can give users powerful permissions. Assign with caution.</div>
                    <partial name="ManagementPartials/UserRoleList" model="Model" />
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="card mb-2">
                <div class="card-header">
                    Versions
                </div>
                <div class="card-body">
                    <div class="alert alert-info">Only versions that require a login are shown.</div>

                    <partial name="ManagementPartials/UserVersionList" model="Model" />
                </div>
            </div>

        
        </div>
        
    </div>
    <div class="mb-3">
        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
        <a asp-action="Index" class="btn btn-link">Cancel</a>
    </div>
</form>



            


