@using System.Security.Principal

@if (Convert.ToBoolean(ViewData["ShowLogin"]) || User.Identity.IsAuthenticated)
{
        @if (User.Identity.IsAuthenticated)
        {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="bi-person-circle"></i> @User.Identity.Name</a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" id="my-account" asp-area="" asp-controller="Account" asp-action="Index">My account</a></li>
                @if (User.IsInRole("GIFWAdmin"))
                {
                <li><a class="dropdown-item" id="management" asp-area="" asp-controller="Management" asp-action="Index">Manage application</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a id="logout" type="submit" class="btn btn-outline-danger btn-sm ms-2" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut"><i class="bi-door-open"></i> Logout</a>
                </li>
            </ul>
        </li>

        }
        else
        {
            string redirectUri = $"{Context.Request.PathBase}{Context.Request.Path}";
            <li class="nav-item">
            <a class="nav-link" id="login"  asp-controller="Account" asp-action="SignInWithRedirect" asp-route-redirectUri="@redirectUri" data-gifw-permalink-update-uri-param="redirectUri">Login/Register</a>
            @*<a class="nav-link" id="login" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" asp-route-redirectUri="/u/-olVNCuQ">Login/Register</a>*@
            </li>
        }
}