@model GIFrameworkMaps.Data.Models.Bound
@{
    ViewData["Title"] = $"Delete bound '{Model.Name}'";
}

<h1>@ViewData["Title"]</h1>
<div class="row mt-2">
    <h2>Are you sure you want to delete this bound?</h2>
    <p class="lead">This action cannot be undone.</p>
    <p>If layers are still using this bound, you will not be able to delete it. Reassign layers to different bounds before deleting the bound.</p>

    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

            


