@model List<GIFrameworkMaps.Data.Models.Bound>
@{
    ViewData["Title"] = "Bounds";
}

<partial name="ManagementPartials/BackToManagementHome" />

<h1>@ViewData["Title"]</h1>
<p class="lead">Create, edit and delete bounds</p>

<a href="@Url.Action("Create")" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add new bound</a>

@if (Model != null)
{
    <table class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>ID</th><th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GIFrameworkMaps.Data.Models.Bound bound in Model.OrderBy(a => a.Id))
            {
                <tr>
                    <td>@bound.Id</td>
                    <td>@Html.ActionLink(bound.Name, "Edit", new { id = bound.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">No bounds have been created yet</div>
}

            


