@model GIFrameworkMaps.Data.Models.Version
@using Microsoft.Extensions.Options
@inject IOptions<GIFrameworkMapsOptions> giFrameworkMapsOptions;
@{
    string appName = giFrameworkMapsOptions.Value.appName;
    ViewData["Title"] = "Version disabled";
}

<h1>This version of @appName has been disabled</h1>
<p class="lead">This may be permanent or temporary. Please contact us if you have questions.</p>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
