@{
    ViewData["Title"] = "Short link not found";
}

<h1>Short link not found</h1>

<p class="lead">The short link you used to get here could not be found. Check the link and try again.</p>
<p>@Html.ActionLink("Or go to the standard version","Index","Map")</p>

