@{
    ViewData["Title"] = "Version not found";
}

<h1>Version not found</h1>

<p class="lead">This version could not be found. Check the URL and try again.</p>
<p>@Html.ActionLink("Or go to the standard version","Index","Map")</p>

