@using GIFrameworkMaps.Data.ViewModels.Management
@model LayerEditViewModel

<div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
<input type="hidden" asp-for="Layer.Id" />
<div class="mb-3">
    <label asp-for="Layer.Name" class="control-label"></label>
    <input asp-for="Layer.Name" class="form-control" data-name-input="true" />
    <span asp-validation-for="Layer.Name" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Layer.MinZoom" class="control-label"></label>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <input asp-for="Layer.MinZoom" class="form-control" />
        </div>
    </div>
    <div class="form-text">Zooming <strong>out</strong> beyond this level will switch the layer off automatically. Rounds up to nearest zoom level e.g. setting this to 10, a zoom level of 9.01 will display the layer, a zoom of 9.00 will turn off</div>
    <span asp-validation-for="Layer.MinZoom" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Layer.MaxZoom" class="control-label"></label>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <input asp-for="Layer.MaxZoom" class="form-control" />
        </div>
    </div>
    <div class="form-text">Zooming <strong>in</strong> beyond this level will switch the layer off automatically</div>
    <span asp-validation-for="Layer.MaxZoom" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Layer.ZIndex" class="control-label"></label>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <input asp-for="Layer.ZIndex" class="form-control" />
        </div>
    </div>
    <span asp-validation-for="Layer.ZIndex" class="text-danger"></span>
</div>
@if(Model.Layer.LayerSource.LayerSourceType.Name != "XYZ")
{
    <div class="mb-3">
        <input asp-for="Layer.Queryable" class="form-check-input" data-queryable-check="true" />
        <label asp-for="Layer.Queryable" class="form-check-label"></label>
        <p class="form-text text-danger" id="non-queryable-layer-warning" style="display:none">The server has reported that this layer is not queryable, so this should be unchecked.</p>
        <span asp-validation-for="Layer.Queryable" class="text-danger"></span>
    </div>
    <div id="info-templates">
        <div class="mb-3">
            <label asp-for="Layer.InfoListTitleTemplate" class="control-label"></label>
            <input asp-for="Layer.InfoListTitleTemplate" class="form-control" data-list-template-target="true" />
            <span asp-validation-for="Layer.InfoListTitleTemplate" class="text-danger"></span>

            <partial name="ManagementPartials/ListTemplateHelperPartial" />
        </div>

        <div class="mb-3">
            <label asp-for="Layer.InfoTemplate" class="control-label"></label>
            <textarea asp-for="Layer.InfoTemplate" class="form-control" rows="5" data-template-target="true"></textarea>
            <span asp-validation-for="Layer.InfoTemplate" class="text-danger"></span>

            <partial name="ManagementPartials/TemplateHelperPartial" />
        </div>
    </div>
    <div class="mb-3">
        <input asp-for="Layer.Filterable" class="form-check-input" />
        <label asp-for="Layer.Filterable" class="form-check-label"></label>
        <span asp-validation-for="Layer.Filterable" class="text-danger"></span>
        @{
            if(
                Model.Layer.LayerSource.LayerSourceType.Name.Contains("Vector") &&
                (Model.Layer.LayerSource.LayerSourceOptions.Where(o => o.Name == "type").Any() && Model.Layer.LayerSource.LayerSourceOptions.Where(o => o.Name == "type").First().Value != "wfs")
            )
            {
                <p class="form-text text-danger">Non WFS Vector layers should not have this checkbox checked.</p>
            }
        }
        
    </div>
}


<a href="#advancedSettings" class="btn btn-link my-3 ps-0" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="advancedSettings"><i class="bi bi-caret-right"></i> Advanced settings</a>

<div class="collapse border-start border-bottom border-5 ps-3 mb-3" id="advancedSettings">

    <div class="mb-3">
        <label asp-for="Layer.LayerDisclaimerId" class="control-label"></label>
        <select asp-for="Layer.LayerDisclaimerId" asp-items="Model.AvailableDisclaimers" class="form-select">
            <option value="">No disclaimer</option>
        </select>
        <span asp-validation-for="Layer.LayerDisclaimerId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Layer.BoundId" class="control-label"></label>
        <select asp-for="Layer.BoundId" asp-items="Model.AvailableBounds" class="form-select">
            <option value="">Not bounded</option>
        </select>
        <span class="form-text">Restricts map rendering and querying outside of these bounds. </span>
        <span asp-validation-for="Layer.BoundId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Layer.DefaultOpacity" class="control-label"></label>
        <labelled-slider max-value="100" min-value="0" step="5" default-if-null="Model.Layer.DefaultOpacity" asp-for="Layer.DefaultOpacity"></labelled-slider>
        <span asp-validation-for="Layer.DefaultOpacity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Layer.DefaultSaturation" class="control-label"></label>
        <labelled-slider max-value="100" min-value="0" step="5" default-if-null="Model.Layer.DefaultSaturation" asp-for="Layer.DefaultSaturation"></labelled-slider>
        <span asp-validation-for="Layer.DefaultSaturation" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <input asp-for="Layer.DefaultFilterEditable" class="form-check-input" />
        <label asp-for="Layer.DefaultFilterEditable" class="form-check-label"></label>
        <p class="form-text">Whether any default filters applied to the layer source are editable by end users. </p>

        <span asp-validation-for="Layer.DefaultFilterEditable" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input asp-for="Layer.ProxyMapRequests" class="form-check-input" />
        <label asp-for="Layer.ProxyMapRequests" class="form-check-label"></label>
        <span asp-validation-for="Layer.ProxyMapRequests" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input asp-for="Layer.ProxyMetaRequests" class="form-check-input" data-proxy-meta="true" />
        <label asp-for="Layer.ProxyMetaRequests" class="form-check-label"></label>
        <span asp-validation-for="Layer.ProxyMetaRequests" class="text-danger"></span>
    </div>

</div>