@model GIFrameworkMaps.Data.Models.ViewModels.Management.UserEditModel

@foreach (var role in Model.AvailableRoles)
{
    bool isChecked = Model.AvailableRoles != null && Model.SelectedRoles.Where(b => b == role.Id).Count() != 0;
    <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               name="SelectedRoles"
               value="@role.Id"
               id="SelectedRoles__@role.Id"
        @(Html.Raw(isChecked ? "checked=\"checked\"" : "")) />
        <label class="form-check-label" for="SelectedRoles__@role.Id">@role.RoleName</label>
    </div>
}