@model List<GIFrameworkMaps.Data.Models.Version>
@{
    ViewData["Title"] = "System management";
}

<partial name="ManagementPartials/BackToManagementHome" />

<h1>@ViewData["Title"]</h1>
<p class="lead">Check and update system settings and cache</p>

<div class="row">
    <h2>Cache</h2>
    <p>Click the big red button below to clear the in memory cache for the application.</p>
    <p>All cached objects will be purged and will need to be retrieved from storage again.</p>
    <form asp-controller="ManagementSystem" asp-action="PurgeCache" method="post">
        <input type="submit" class="btn btn-danger" value="Purge Memory Cache" />
    </form>
</div>
<br>
<div class="row">
    <h2>Web layer service definitions</h2>
    <p>Create, edit and delete web layer service definitions</p>
    <p>
        <a href="@Url.Action("Index","ManagementWebLayerServiceDefinition")" class="btn btn-primary"><i class="bi"></i> Manage web layer service definitions</a>
    </p>
</div>
<br>
<div class="row">
    <h2>Site analytics and cookie control</h2>
    <p>Add and management the analytics used by the site</p>
    <p>
        <a href="@Url.Action("Index","ManagementAnalytics")" class="btn btn-primary"><i class="bi"></i> Manage analytics</a>
    </p>
</div>

            


