@using GIFrameworkMaps.Data.ViewModels.Management
@model LayerWizardCreateXYZSourceViewModel

@{
    ViewData["Title"] = "Create layer source details";
}
<h1>@ViewData["Title"]</h1>
<p class="lead">Check the details below and make any changes you need</p>

<div class="row mt-2 mb-2">
    <div class="col-md-8 col-lg-6">
        <form asp-action="CreateXYZSourcePost">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="LayerSource.Name" class="control-label"></label>
                <input asp-for="LayerSource.Name" class="form-control" />
                <span asp-validation-for="LayerSource.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.Description" class="control-label"></label>
                <textarea asp-for="LayerSource.Description" class="form-control"></textarea>
                <span asp-validation-for="LayerSource.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LayerSource.AttributionId" class="control-label"></label>
                <select asp-for="LayerSource.AttributionId" asp-items="Model.AvailableAttributions" class="form-select"></select>
                <span asp-validation-for="LayerSource.AttributionId" class="text-danger"></span>
            </div>

            <a href="#advancedSettings" class="btn btn-link my-3 ps-0" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="advancedSettings"><i class="bi bi-caret-right"></i> Advanced settings</a>

            <div class="collapse border-start border-bottom border-5 ps-3 mb-3" id="advancedSettings">
                <div class="alert alert-warning">Most of this information should be left as is unless you know what you are doing</div>
                <div class="mb-3">
                    <label asp-for="URLTemplate" class="control-label"></label>
                    <input asp-for="URLTemplate" class="form-control" />
                    <span asp-validation-for="URLTemplate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Projection" class="control-label"></label>
                    <input asp-for="Projection" class="form-control" />
                    <span asp-validation-for="Projection" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="TileGrid" class="control-label"></label>
                    <textarea asp-for="TileGrid" class="form-control"></textarea>
                    <span asp-validation-for="TileGrid" class="text-danger"></span>
                </div>

                <input asp-for="LayerSource.LayerSourceTypeId" type="hidden"/>

            </div>

            <div class="mb-3">
                <input type="submit" value="Save and continue" class="btn btn-primary btn-lg" />
                <a asp-action="Index" class="btn btn-link">Cancel</a>
            </div>

        </form>

    </div>
    <div class="col-md-4 col-lg-6">
        <h2>Help</h2>
        <p>Add a Name, Description and choose a suitable Attribution for this layer source.</p>
    </div>
</div>