:root {
  --bs-primary: #05476d;
}
[data-bs-theme="dark"] .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.navbar {
  background-color: #05476d;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}
/* Provide sufficient contrast against white background */
a {
  color: #1d70b8;
}
[data-bs-theme="dark"] a {
  color: rgba(255, 255, 255, 0.85);
}
a:hover,
a:focus {
  color: #23527c;
}
[data-bs-theme="dark"] a:hover,
[data-bs-theme="dark"] a:focus {
    color: rgba(255, 255, 255, 1);
}
.btn-primary {
  color: #fff;
  background-color: #05476d;
  border-color: #0b2d49;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0b2d49;
}

.btn-primary:hover {
  background-color: #0b2d49;
  border-color: #0b2d49;
}

.btn-primary:focus,
.btn-primary.focus {
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(11, 45, 73, 0.3);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 45, 73, 0.3);
}

.btn-outline-primary {
  color: #0b2d49;
  border-color: #0b2d49;
}
[data-bs-theme="dark"] .btn-outline-primary {
  color: white;
  border-color: white;
}
.btn-outline-primary:hover {
  background-color: #0b2d49;
  border-color: #0b2d49;
  color: white;
}
[data-bs-theme="dark"] .btn-outline-primary:hover {
  background-color: #0b2d49;
  border-color: white;
  color: white;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 45, 73, 0.3);
  background-color: #0b2d49;
  color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 45, 73, 0.3);
  background-color: #0b2d49;
  color: white;
}

.btn-link {
  color: var(--bs-primary);
}
[data-bs-theme="dark"] .btn-link {
  color: white;
}
[data-bs-theme="dark"] .btn-outline-dark {
    border-color: rgba(255,255,255,.8);
    color: rgba(255,255,255,.8);
}
[data-bs-theme="dark"] .btn-outline-dark:hover,
[data-bs-theme="dark"] .btn-outline-dark:focus {
    border-color: rgba(255,255,255, 1);
    color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,.1);
}
[data-bs-theme="dark"] .btn-outline-danger {
    color: rgba(255, 255, 255, 0.85);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #05476d;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
  min-height: 100vh;
}

.flex-grow {
  flex: 1 1 auto;
}

footer {
  position: relative;
  background-color: var(--bs-tertiary-bg);
  height: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top: 20px;
}

footer:after {
  background: #05476d;
  position: absolute;
  content: "";
  height: 5px;
  right: 0;
  left: 0;
  top: 0;
}

footer .container {
  background-color: transparent;
  padding-top: 1rem;
}

footer a {
  text-decoration: underline;
}

footer ul > li {
  padding-bottom: 10px;
}

footer img.brand {
  max-width: 180px;
  min-width: 120px;
}

.dropdown-menu.dropdown-menu-block {
  padding: 10px;
}

.account-box {
  min-width: 260px;
  margin-top: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.card.link-card {
  height: 4rem;
  background-color: #fbfbfb;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0.5rem;
  border-color: #e0e0e0;
}
[data-bs-theme="dark"] .card.link-card {
  background-color: var(--bs-body-bg);
}
.card.link-card:hover {
  box-shadow: 2px 2px 5px #e0e0e0;
  border-color: grey;
  transition: all 0.2s ease;
}
[data-bs-theme="dark"] .card.link-card:hover {
  box-shadow: 2px 2px 5px var(--bs-body-bg);
  transition: all 0.2s ease;
}
.card.link-card.active:hover {
  box-shadow: none;
}

.card.link-card a {
  color: inherit;
  text-decoration: none;
}
.validation-summary-errors li {
  list-style: none;
}

.validation-summary-errors ul {
  padding: 0;
  margin: 0;
}
/*temporary bootstrap icons alignment*/
[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: -0.125em;
}

/*simple-datatables overrides*/

.datatable-table {
  border-collapse: collapse;
}
[data-bs-theme="dark"] .pagination button {
  color: white;
}
[data-bs-theme="dark"] .table-primary a {
  color: var(
    --bs-table-color-state,
    var(--bs-table-color-type, var(--bs-table-color))
  );
}
