@model GIFrameworkMaps.Data.Models.Attribution
@{
    ViewData["Title"] = $"Edit attribution '{Model.Name}'";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a href="https://dorset-council-uk.github.io/GIFramework-Maps-Admin-Guide/gui/attributions/" class="btn btn-outline-primary" target="_blank"
       role="button">Stuck? Read the help documentation</a>
</div>

<div class="row mt-2 mb-2">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AttributionHTML" class="control-label"></label>
                <textarea asp-for="AttributionHTML" class="form-control"></textarea>
                <div class="form-text">Use the placeholder {{CURRENT_YEAR}} to add the current year automatically</div>
                <span asp-validation-for="AttributionHTML" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                <a asp-action="Index" class="btn btn-link">Cancel</a>
            </div>
        </form>
        
    </div>
</div>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>



            


