@using GIFrameworkMaps.Data.ViewModels.Management
@model CategoryEditViewModel
@{
    ViewData["Title"] = $"Edit category '{Model.Category.Name}'";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Index">Cancel</a>

<form asp-action="Edit">
    <div class="row mt-4 mb-2">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Category.Description" class="control-label"></label>
                <textarea asp-for="Category.Description" class="form-control"></textarea>
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Category.Order" class="control-label"></label>
                <input asp-for="Category.Order" class="form-control" />
                <span asp-validation-for="Category.Order" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Category.ParentCategoryId" class="control-label"></label>
                <select asp-for="Category.ParentCategoryId" asp-items="Model.AvailableParentCategories" class="form-select">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="Category.ParentCategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-lg btn-primary" />
                <a asp-action="Index" class="btn btn-link">Cancel</a>
            </div>
            <a asp-action="Delete" asp-route-id="@Model.Category.Id" class="btn btn-danger">Delete</a>

        </div>

        <div class="col-md-6">
            <ul class="nav nav-underline mb-2" role="tablist">
                <li class="nav-item active" role="presentation">
                    <button class="nav-link active" id="layers-tab" data-bs-toggle="tab" data-bs-target="#layers-tab-pane" type="button" role="tab" aria-controls="layers-tab-pane" aria-selected="true">Layers</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="versions-tab" data-bs-toggle="tab" data-bs-target="#versions-tab-pane" type="button" role="tab" aria-controls="versions-tab-pane" aria-selected="false">Appears in versions</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="layers-tab-pane" role="tabpanel" aria-labelledby="layers-tab" tabindex="0">
                    <partial name="ManagementPartials/CategoryLayerList" model="Model" view-data="ViewData" />
                </div>
                <div class="tab-pane fade" id="versions-tab-pane" role="tabpanel" aria-labelledby="versions-tab" tabindex="0">
                    @if (Model.VersionsCategoryAppearsIn is null || Model.VersionsCategoryAppearsIn.Count == 0)
                    {
                        <div class="alert alert-info">This layer doesn't appear in any versions at the moment</div>
                    }
                    else
                    {
                        <ul class="list-group">
                            @foreach (var version in Model.VersionsCategoryAppearsIn.OrderBy(v => v.Name))
                            {
                                <li class="list-group-item">
                                    <a asp-action="Edit" asp-controller="ManagementVersion" asp-route-id="@version.Id">@version.Name</a>
                                    <span class="text-muted fst-italic">/@version.Slug</span>
                                    @if (version.RequireLogin)
                                    {
                                        <span class="bi bi-lock" title="This version requires a login"></span>
                                    }
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>

</form>



            


