@using GIFrameworkMaps.Data.ViewModels.Management
@model AnalyticsEditViewModel
@{
    ViewData["Title"] = "System management - add analytic";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a href="https://dorset-council-uk.github.io/GIFramework-Maps-Admin-Guide/gui/system/#site-analytics-and-cookie-control" class="btn btn-outline-primary" target="_blank"
       role="button">Stuck? Read the help documentation</a>
</div>

@using (Html.BeginForm("Create", "ManagementAnalytics",null, FormMethod.Post, true, null))
{
    <div class="row mt-4">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="AnalyticDefinition.ProductName" class="control-label"></label>
                <select asp-for="AnalyticDefinition.ProductName" asp-items="Model.AvailableProducts" class="form-select">
                    <option value="">Please select</option>
                </select>
                <span asp-validation-for="AnalyticDefinition.ProductName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AnalyticDefinition.ProductKey" class="control-label"></label>
                <input asp-for="AnalyticDefinition.ProductKey" class="form-control" />
                <span asp-validation-for="AnalyticDefinition.ProductKey" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AnalyticDefinition.CookieControl" class="control-label"></label>
                <select asp-for="AnalyticDefinition.CookieControl" asp-items="Model.AvailableCookieControl" class="form-select">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="AnalyticDefinition.CookieControl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AnalyticDefinition.Enabled" class="control-label"></label>
                <input asp-for="AnalyticDefinition.Enabled" class="form-check-input" type="checkbox" />
                <span asp-validation-for="AnalyticDefinition.Enabled" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-2">
                <div class="card-header">
                    Versions
                </div>
                <div class="card-body">
                    @if (Model.SelectedVersions.Count == 0)
                    {
                        <p class="card-text">Will apply to all versions unless you select from the list below.</p>
                    }
                    <partial name="ManagementPartials/VersionAnalyticList" model="Model.AvailableVersions.ToList()" view-data="ViewData" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="mb-3">
                <input type="hidden" asp-for="AnalyticDefinition.Id" />
                <input type="hidden" asp-for="AnalyticDefinition.DateModified" />
                <div class="mb-3">
                    <input type="submit" value="Create Record" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <a asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
}