<div class="card-body">

    <div class="card-title-closeable">
        <h5 class="card-title">Modify annotation style</h5>
        <button type="button" class="btn-close" data-gifw-dismiss-sidebar="annotation-style-panel" aria-label="Close"></button>
    </div>

    <h6 class="card-subtitle mb-2 text-muted">Change the appearance of your annotations</h6>

    <form class="gifw-annotation-style-options pt-1"></form>

</div>