@model List<GIFrameworkMaps.Data.Models.ViewModels.BasemapViewModel>

<div class="card-body pt-0">
    <div class="card-title-closeable py-3">
        <h5 class="card-title">Background Map</h5>
        <button type="button" class="btn-close" data-gifw-dismiss-sidebar="basemaps" aria-label="Close"></button>
    </div>
    
    <h6 class="card-subtitle mb-2 text-muted">Choose a map to have as your background</h6>

    <div id="basemaps-list-container">

    </div>
</div>
