<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="bi-bookmark" title="Map Bookmarks"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" id="gifw-bookmarks-list">

            <li>
                <a id="gifw-add-bookmark" class="btn btn-outline-primary btn-sm mx-2" href="#add-bookmark"><i class="bi bi-plus-circle"></i> Bookmark this location</a>
            </li>
        </ul>
    </li>
</ul>