<div class="toast-container position-absolute p-3 bottom-0 start-0">
    <div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" id="gifw-broadcast-toast">
        <div class="toast-header">
            <span class="me-auto">Message from administrators</span>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span></span>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="gifw-broadcast-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message from administrators</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>