<div class="card-body">
    <div class="card-title-closeable">
        <h5 class="card-title">Export and Print</h5>
        <button type="button" class="btn-close" data-gifw-dismiss-sidebar="print-control" aria-label="Close"></button>
    </div>
    
    <h6 class="card-subtitle mb-2 text-muted">Export and print your map</h6>
    <form id="gifw-print-form" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="gifw-print-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="gifw-print-title">
            <div class="invalid-feedback">
                Title is too long
            </div>
        </div>
        <div class="mb-3">
            <label for="gifw-print-subtitle" class="form-label">Sub Title</label>
            <input type="text" class="form-control" id="gifw-print-subtitle">
            <div class="invalid-feedback">
                Subtitle is too long
            </div>
        </div>
        <div class="form-check mb-3" style="display:none;">
            <input class="form-check-input" type="checkbox" value="" id="gifw-print-scalebar" checked>
            <label class="form-check-label" for="gifw-print-scalebar">Scale Bar?</label>
        </div>
        <label for="gifw-print-pagesize" class="form-label">Page size</label>
        <select class="form-select mb-3" id="gifw-print-pagesize">
            <option value="a5l">A5 Landscape</option>
            <option value="a5p">A5 Portrait</option>
            <option selected value="a4l">A4 Landscape</option>
            <option value="a4p">A4 Portrait</option>
            <option value="a3l">A3 Landscape</option>
            <option value="a3p">A3 Portrait</option>
            <option value="a2l">A2 Landscape</option>
            <option value="a2p">A2 Portrait</option>
        </select>

        <label for="gifw-print-resolution" class="form-label">Quality</label>
        <select class="form-select mb-3" id="gifw-print-resolution">
            <option value="96">96 dpi (low, fast)</option>
            <option value="150">150 dpi (ok)</option>
            <option selected value="200">200 dpi (good)</option>
            <option value="300">300 dpi (excellent, slow)</option>
        </select>
        <div class="mb-3">
            <label for="gifw-print-legend" class="form-label">Legend/Key</label>
            <select class="form-select" id="gifw-print-legend">
                <option value="none">None</option>
                <option value="float-left">Floating - Left</option>
                <option value="pinned-left">Pinned to side - Left</option>
                <option value="separate-page">Separate page</option>
            </select>
            <div class="form-text" id="gifw-print-legend-size-warning" style="display:none;">
                <span class="ol-grabbing bi-info-circle"></span> Some key options are not available due to the page size you selected
            </div>
        </div>
        
        <div class="form-check mb-3" style="display:none;">
            <input class="form-check-input" type="checkbox" value="" id="gifw-print-scale-print">
            <label class="form-check-label" for="gifw-print-scale-print">Print to scale?</label>
        </div>

        <div id="gifw-print-scale-container" class="ps-3 border-start border-3" style="display:none;">
            <label for="gifw-print-scale" class="form-label">Scale</label>
            <select class="form-select mb-3" id="gifw-print-scale">
                <option value="500">1:500000</option>
                <option value="250">1:250000</option>
                <option value="100">1:100000</option>
                <option value="50">1:50000</option>
                <option value="25">1:25000</option>
                <option value="10">1:10000</option>
                <option value="5">1:5000</option>
                <option value="1">1:1000</option>
            </select>
        </div>

        <button id="gifw-print-do-print" class="btn btn-primary" type="submit">Export to PDF</button>
    </form>
</div>
