@using Microsoft.Extensions.Options
@inject IOptions<GIFrameworkMapsOptions> giFrameworkMapsOptions;
<div class="card-body pt-0">
    <div class="card-title-closeable py-3">
        <h5 class="card-title">Share</h5>
        <button type="button" class="btn-close" data-gifw-dismiss-sidebar="legends" aria-label="Close"></button>
    </div>
    
    @*<h6 class="card-subtitle mb-2 text-muted">Share a link to the map or get an embed code</h6>*@
    <div id="gifw-share-container">
        <div class="alert alert-info small"><span class="bi bi-info-circle"></span> These links do not include any annotations, measurements or custom layers you have added to the map</div>
        <h6>Share a direct link to the map</h6>
        <div class="my-2">
            <label for="gifw-share-link" class="visually-hidden">Direct link</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="gifw-share-link" readonly value="">
                <button class="btn btn-outline-primary" type="button" data-gifw-copy-target="#gifw-share-link" data-bs-toggle="tooltip" data-bs-title="Copied to clipboard!" data-bs-trigger="manual">
                    <i class="bi bi-clipboard"></i> Copy<span class="visually-hidden"> the link to the clipboard</span>
                </button>
            </div>

        </div>
        <h6>Generate a short link</h6>
        <p>Generate a shorter link that does everything the link above does, but shorter!</p>
        <button id="gifw-generate-short-link" class="btn btn-outline-primary">Generate short link</button>
        @if (!giFrameworkMapsOptions.Value.HideEmbedOption)
        {
            <h6 class="mt-2">Embed the map in your own page</h6>
            <p>Copy the code below and paste into your webpage to embed the map</p>
            <div class="my-2">
                <label for="gifw-share-embed-code" class="visually-hidden">Embed code</label>
                <textarea class="form-control" id="gifw-share-embed-code" readonly rows="6"></textarea>
                <button class="btn btn-outline-primary my-2" type="button" data-gifw-copy-target="#gifw-share-embed-code" data-bs-toggle="tooltip" data-bs-title="Copied to clipboard!" data-bs-trigger="manual">
                    <i class="bi bi-clipboard"></i> Copy<span class="visually-hidden"> the embed code to the clipboard</span>
                </button>
            </div>   
        }
    </div>

    
</div>
