@{
    Layout = null;
    var signInWithRedirectUrl = Url.Action("SignInWithRedirect", "Account");
    var signInUrl = Url.Action("SignIn", "Account", new { area = "MicrosoftIdentity", returnUrl = ViewData["ReturnUrl"] });
}
<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
</head>
<body>
    <script>
        (function () {
            var hash = window.location.hash;
            var returnUrl = '@ViewData["ReturnUrl"]';
            if (hash && hash.length > 1) {
                var fullUrl = window.location.protocol + '//' + window.location.host + returnUrl + hash;
                window.location.replace('@signInWithRedirectUrl?redirectUri=' + encodeURIComponent(fullUrl));
            } else {
                window.location.replace('@signInUrl');
            }
        })();
    </script>
    <p>Redirecting...</p>
</body>
</html>
