@using Microsoft.Extensions.Options
@inject IOptions<GIFrameworkMapsOptions> giFrameworkMapsOptions;

@{
    string appRegistrationLink = giFrameworkMapsOptions.Value.AppRegistrationLink;
    ViewData["Title"] = "Sorry, we can't log you in right now";
}

<h1>@ViewData["Title"]</h1>

<p class="lead">Something has gone wrong and we can't log you in.</p>

<div class="mb-3">
    @{
        // Register button (conditional depending on whether there is a value in appSettings).
        if (appRegistrationLink != "")
        {
            <a href="@appRegistrationLink" class="btn btn-outline-primary" target="_blank"
               role="button">Register with us</a>
        }
    }

    <a class="btn btn-outline-primary" asp-area="" asp-controller="Version" asp-action="Index">
        Choose a different version</a>
</div>